/*Img Logo*/

.header-logo {
    background-color: #873e23;
}

/* General styles */

.aboutus-text {
    color: #873e23;
}

/* Footer */
footer {
    background-color: #873e23;
    color: white;
}

/* Button */


/* Media query */
/* I had learned this media query from my previously coded boardwalk games project with code institute */
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* W3Schools.com assisted with the css for centering the image */
    .logo-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}